<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="WhiteBoxQa Application Test Automation Test Suite ">
    <listeners>
        <listener class-name="com.wbl.ExtentReporter.ExtentReporterNG"/>
    </listeners>
    <test name="">
        <classes>
            <class name="com.wbl.pages.LoginPage"></class>

        </classes>
    </test>
</suite>
